

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: rgb(115, 81, 81);
    width: 100%;
    height: 40px;
    padding-top: 5px;
    position: fixed;
    top: 0;
    display: flex; /* Use flexbox to center child elements */
    align-items: center; /* Center the child elements vertically */
    justify-content: center; /* Center the child elements horizontally */
    transition: top 0.3s;
  }
  
.topbar p {
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: absolute; /* Use absolute positioning */
    opacity: 0; /* Apply */
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    position: fixed;
    top: 40px;
    transition: top 0.3s;
    padding-top: 5px;
    background-color: white;
    z-index: 1000;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 75px;
    margin-right: 75px;
}

.navbar sup {
    font-size: 0.5em; /* Adjust the size as needed */
}

.navbar a {
    text-decoration: none;
    color:rgb(115, 81, 81);
}

.navbar-logo img {
   width: 200px;
   height: 128px;
}

.data {
    padding-top: 160px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.content img {
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 90vw;
    height: 90vh; 
}

.heading {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    margin: 10px;
    padding-top: 12px;
}

.heading .empty-space {
    width:auto;
    height: 38px;
}

.heading h1 {
    font-size: 1em;
    margin: 10px;
    margin-left: 280px;
    margin-right: 280px;
    text-align: center;
    color:rgb(118, 101, 101);
}

.heading a {
    color:rgb(115, 81, 81);
}

.custom-detail {
    margin-bottom: 80px;
}

.products {
    background-color: #f9f7f4;
    width: 100vw;
    height: 95vh    
}

.objects {
    width: 100vw;
    text-align: center;
    margin-bottom: 30px;
}

.objects h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 1.6rem;
    color:rgb(115, 81, 81);;
    margin-bottom: 10px;
}


.objects a {
    margin-bottom: 30px;
} 

.commerce {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.thumbnail img {
    width: 312px;
    height: 468px;
}

/* Thumbnail container styles */
.ttd {
    position: relative;
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

/* Default image styles */
.default-img {
    display: block;
    width: 100%; /* Adjust dimensions as needed */
    height: auto;
}

/* Hover image styles */
.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%; /* Adjust dimensions as needed */
    height: auto;
    z-index: 1; /* Places the hover image above the default image */
}

/* Show the hover image on hover */
.image-link:hover .hover-img {
    display: block;
}

.heading2 {
    padding: 0px 35.9453px;
}

.hp {
    padding: 68.3047px 273.219px 0px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #544844;
    margin-bottom: 100px;
}

.hp h3 {
    text-align: center;
    font-size: 22px;
}

.hp .empty-space {
    width:819.67px;
    height: 32px;
}

.hp h2 {
    text-align: center;
    font-size: 30px;
}

.c-logos {
    align-items: center;
    justify-content: center;
    background-color: #f9f7f4;
    padding: 0px 25.1641px;
}

.c-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px;
    
}

.c-logos img {
    width: 95.63px;
    height: 95.63px;
}

